html {
    background-color: black;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    color: slateblue;
    font-size: 65px;
}

.text {
    color: cornsilk;
    font-size: 23px;
    width: 700px;
    margin: auto
}

.dm-text {
    color: rgb(182, 0, 36);
    font-size: 45px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}

.meme {
    width: 550px;
    height: auto;
    margin-bottom: 50px;
}

.footer {
    width: 50px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 15px;
}

.list-link {
    color: rgb(182, 0, 36);
    font-size: 20px;
    margin-top: 2em;
}