html {
    background-color: black;
    text-align: center;
}

h1 {
    color: blueviolet;
    font-size: 65px;
}

.text {
    color: cornsilk;
    font-size: 23px;
}

.dm-text {
    color: rgb(182, 0, 36);
    font-size: 45px;
    font-weight: bold;
}

img {
    width: 550px;
    height: auto;
}

a {
    color: rgb(182, 0, 36);
    font-size: 20px;
}